<h1> База данных клиентов </h1>

<table class="table table-striped">

	<thead class="thead-dark">
	    <tr>
	      <th scope="col">№</th>
	      <th scope="col">Имя</th>
	      <th scope="col">Телефон</th>
	      <th scope="col">Дата записи</th>
	      <th scope="col">Парикмахер</th>
	      <th scope="col">Цвет</th>
	    </tr>
    </thead>

    <tbody>
	    <% @results.each do |row| %>
			<tr <%= "style='background-color: red; color: white;'" if row == @results.first %>>
				<td><%= row['id'] %></td>
				<td><%= row['name'] %></td>
				<td><%= row['phone'] %></td>
				<td><%= row['date_stamp'] %></td>
				<td><%= row['barber'] %></td>
				<td style="background-color: <%= row['color'] %>"><%= row['color'] %></td>
			</tr>
		<% end %>
	</tbody>
</table>
